ul {
  display: table;
}

li {
  font-size: 0.9em;
  margin: 0.75em;
}

.link {
  opacity: 0.7;
  transition: opacity 0.3s;
  display: inline-block;
}

.link:hover {
  opacity: 1;
  margin-right: 1rem;
}

@media screen and (max-width: 1000px) {
  .link {
    opacity: 1;
    display: inline-block;
  }
}
