.landing-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.press-start {
  animation: blinker 1s linear infinite;
  position: fixed;
  color: white;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
