.loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.fade-in {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
}

.progress-bar {
  width: 50em;
  height: 3em;
}
