/* .bgImg {
  width: 1920px;
  height: 1080px;
  background-image: url("img/pixel-resized.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
  padding: 0;
  position: relative;
}

.bookImg {
  display: block;
  left: 53%;
  bottom: 48%;
  width: 200px;
  height: 200px;
  position: absolute;
}

.bookImg:hover {
  transform: scale(1.1);
} */

.main-container {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  float: left;
}

.side-nav {
  width: auto;
  height: 100%;
  background-color: rgba(255,0,0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  margin: 1rem;
  border: 0.5rem solid rgba(255, 255, 255, 0.3);
}

.interactions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

.interaction {
  width: 15rem;
  margin: 1rem;
  text-align: center;
}

.main-content{
  padding: 1rem;
  width: 85%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
