body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* "Press Start 2P", sans-serif */
  /* font-family: "VCR", sans-serif; */
  /* font-size: 1.5em; */
}
