@font-face {
  font-family: "VCR";
  src: local("VC"), url("VCR_OSD_MONO_1.001.ttf") format("truetype");
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* "Press Start 2P", sans-serif */
  font-family: "VCR", sans-serif;
  font-size: 1.5em;
}
